<div class="container">
    <mat-toolbar>
        <span>Crear Usuario</span>
    </mat-toolbar>
    <mat-card style="margin-top: 10px;">
        <form [formGroup]="form" (ngSubmit)="agregarUsuario()">
            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile colspan="1" rowspan="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombre</mat-label>
                        <input matInput autocomplete="off" formControlName="nombre">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="4">
                    <img src="./assets/img/userregister.png" width="250px" height="250px">
                </mat-grid-tile>
                <mat-grid-tile colspan="1" rowspan="1">
                    <mat-form-field class="ancho">
                        <mat-label>Apellido</mat-label>
                        <input matInput autocomplete="off" formControlName="apellido">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile colspan="1" rowspan="1">
                    <mat-form-field class="ancho">
                        <mat-label>Pais</mat-label>
                        <input matInput autocomplete="off" formControlName="pais">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile colspan="1" rowspan="1">
                    <button mat-raised-button>Volver</button>
                    <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Aceptar</button>
                </mat-grid-tile>
                
            </mat-grid-list>
        </form>
    </mat-card>
</div>