<h2 mat-dialog-title>Editar Curso</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="form2">
        <mat-grid-list cols="1" rowHeight="70px">
            <mat-grid-tile colspan="1" rowspan="1">
                <mat-form-field class="ancho">
                    <mat-label >ID</mat-label>
                    <input matInput autocomplete="off" formControlName="ID" readonly="true">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                <mat-form-field class="ancho">
                    <mat-label>Materia</mat-label>
                    <input matInput autocomplete="off" formControlName="Nombre" [readonly]="tipoaccion==1">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                <mat-form-field class="ancho">
                    <mat-label>Maestro</mat-label>
                    <input matInput autocomplete="off" formControlName="Maestro" [readonly]="tipoaccion==1">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                <mat-form-field class="ancho">
                    <mat-label>Horario</mat-label>
                    <input matInput autocomplete="off" formControlName="Horario" [readonly]="tipoaccion==1">
                </mat-form-field>
            </mat-grid-tile>
            
        </mat-grid-list>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button *ngIf="tipoaccion===2 || tipoaccion === 0" [mat-dialog-close]="form2.value" mat-raised-button color="primary" [disabled]="form2.invalid">Aceptar</button>
</mat-dialog-actions>