<div class="container">
    <mat-toolbar>
        <span>Cursos</span>
        <div class="example-spacer"></div>
        <button mat-raised-button color="primary" (click)="agregarCursoModal(0,0)"><mat-icon>add_circle</mat-icon>Agregar</button>
    </mat-toolbar>
    <div *ngIf="ELEMENT_DATA.length > 0">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>
    
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          
            <ng-container matColumnDef="Materia">
              <th mat-header-cell *matHeaderCellDef> Materia </th>
              <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
            </ng-container>
          
            <ng-container matColumnDef="Maestro">
              <th mat-header-cell *matHeaderCellDef> Maestro </th>
              <td mat-cell *matCellDef="let element"> {{element.Maestro}} </td>
            </ng-container>
          
            <ng-container matColumnDef="Horario">
              <th mat-header-cell *matHeaderCellDef> Horario </th>
              <td mat-cell *matCellDef="let element"> {{element.Horario}} </td>
            </ng-container>

            <!-- acciones Column -->
            <ng-container matColumnDef="Acciones">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element" style="text-align: right;">
                  <a class="pointer" (click)="verMateria(element.ID,1)" style="color:grey;"  matTooltip="ver detalle">
                    <mat-icon>badge</mat-icon>
                  </a>
                  <a class="pointer" (click)="verMateria(element.ID,2)" style="color: blue;"  matTooltip="Editar">
                      <mat-icon>edit</mat-icon>
                  </a>
                  <a class="pointer" (click)="eliminarMateria(element.ID)" style="color:red;"  matTooltip="Eliminar">
                      <mat-icon>delete</mat-icon>
                  </a>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <h2 *ngIf="ELEMENT_DATA.length == 0">No hay registros alumnos registrados</h2>
    
</div>