<div class="container">
    <mat-toolbar>
        <span>Alumnos</span>
        <div class="example-spacer"></div>
        <button mat-raised-button color="primary" (click)="agregarUsuarioModal(0,0)">Agregar</button>
    </mat-toolbar>
    <div *ngIf="ELEMENT_DATA.length > 0">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>
    
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          
            <!-- ID Column -->
            <ng-container matColumnDef="ID">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
            </ng-container>
          
            <!-- Nombre Column -->
            <ng-container matColumnDef="Email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
            </ng-container>
          
            <!-- Apellido Column -->
            <ng-container matColumnDef="Password">
              <th mat-header-cell *matHeaderCellDef> Password </th>
              <td mat-cell *matCellDef="let element"> {{element.Password}} </td>
            </ng-container>
          
            <!-- Pais Column -->
            <ng-container matColumnDef="Token">
              <th mat-header-cell *matHeaderCellDef> Token </th>
              <td mat-cell *matCellDef="let element"> {{element.Token}} </td>
            </ng-container>
            <ng-container matColumnDef="Admin">
                <th mat-header-cell *matHeaderCellDef> Admin? </th>
                <td mat-cell *matCellDef="let element"> {{element.Bitadmin | siNo}} </td>
                  
              </ng-container>

    
             <!-- acciones Column -->
             <ng-container matColumnDef="Acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element" style="text-align: right;">
                    <div *ngIf="element.ID != 1 || element.ID != usuarioid">
                    <a class="pointer" (click)="verUsuarios(element.ID,1)" style="color:grey;"  matTooltip="ver detalle">
                      <mat-icon>badge</mat-icon>
                    </a>
                    <a class="pointer" (click)="verUsuarios(element.ID,2)" style="color: blue;"  matTooltip="Editar">
                        <mat-icon>edit</mat-icon>
                    </a>
                    <a class="pointer" (click)="eliminarUsuario(element.ID)" style="color:red;"  matTooltip="Eliminar">
                        <mat-icon>delete</mat-icon>
                    </a>
                </div>
                </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <h2 *ngIf="ELEMENT_DATA.length == 0">No hay registros alumnos registrados</h2>
</div>